@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
body{
  font-family: 'Raleway', sans-serif;}


h1 {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding-bottom: 2.5rem;
}

.h2{
  font-size: 300%;

}
.h5{
  font-size: 200%;
  margin-top: 5%;

}

.nav-link{
  font-size: 16px;
  font-weight: 500;
}

.title {
  background-color: blueviolet;
  padding: 3rem;
}

.video-image {
  padding: 3rem;
}

#reading {
  padding: 2rem;
}

.reading-box {
  text-align: center;
  padding: 5%;
  font-size: 25px;
}



p {
  color: #8f8f8f;
}

/* Headings */


.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 0rem;
}

.navbar-brand {
  font-size: 1.75rem;
}

.nav-item {
  padding: 0 18px;
}

/* header */
.lead{
  font-size: 40px;
}

.header_text{
  font-size: 28px;
}

.header-photo{
  padding-top: 8rem;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;

  right: 20%;
  top: 20%;
}




/* CTA Section */

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
  }
}

.top-image{
  margin-top: 30%;
  width: 90%;
}
.top-text{
  margin-top: 20%;
  
}

  #contact{
    margin-top: 10%;
  }
  @media screen and (max-width: 600px) {
    #contact{
    margin-top: 50px;
  }
  .top-image{
  margin-top: 60px;
}






.top-image{
  margin-top: 150px;
}
  #contact{
    margin-top: 200px;
  }
  @media screen and (max-width: 600px) {
    #contact{
    margin-top: 50px;
  }
  .top-image{
  margin-top: 60px;
}




.framed-image{
  margin-top: 120px;padding: 36px;width: 100%;
}

.btn-send{
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .preview-video video{
    width: 100%;
  }
  .ft{
    margin-top:20%;
  }
  
}

@media (max-width: 768px) {
.btn {
  font-size:14px;
  padding:6px 10px;
  
}
.top-image{
  font-size: 28px;
}
.framed-image{
  margin-top: 30px;padding: 36px;width: 100%;
}
.second-text{
  font-size: 200%;
}
.main-text{
  font-size: 18px;
}
.main-text2{
  font-size: 14px;
}
}

@media (min-width: 768px) {
.btn {
  font-size:12px;
  padding:6px 12px;
}
}

@media (min-width: 992px) {
.btn {
  font-size:14px;
  padding:8px 12px;
}
}

@media (min-width: 1200px) {
.btn {
  padding:10px 16px;
  font-size:18px;
}
}
} }